@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Fira Code', monospace;
  background-color: #010c15;
  padding: 30px;
  color: white;
  height: -webkit-fill-available;
  height: 100%;
}

body {
  border: 2px solid #1e2d3d;
  background-color: #011627;
  border-radius: 20px;
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
}
